section {
    border: 1px solid teal;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
img{height: 300px;
    width: 250px;
}
p {margin: 20px}
h2{margin: 20px}
h3{margin: 20px}
h4{margin: 20px}
img {margin: 20px}

header {padding: 12px}


body {background-color: beige;}

footer {background-color: burlywood;
margin-top: 24px;
padding: 24px}

input {height:50px}