{% load static %}
<link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}   
    <input type="submit" value="Submit">
</form>
