{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>

<body>
  <header>
  </header>
  <section>
  <main>
    <div class="book-card">
        <p>{{ book.Title }}</p>
        <p>{{ book.Author.first.name }}</p>
        <p>{{ book.Details }}</p>
        <p>{{ book.NumberofPages }}</p>
        <p>{{ book.ISBN }}</p>
        <p>{{ book.Publisheddate }}</p>
        {% for review in book.reviews.all %}
        <p>Review: {{ review.text }}</p>
      {% endfor %}
        <img src = {{book.urlofcover}}></img>
  </main>
</section>
</body>

</html>