{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}"></title>
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <section>
  <main>
    {% for genre in genres %}
    <div class="genre-card">
    <h1>
        <p>{{ genre.name }}</p>
    </h1>
    {% endfor %}
    {% for magazine in genres.magazines.all %}
        <p>{{ magazine.Title }}</p>
    {% endfor %}
  </main>
</section>
</body>

</html>