{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <section>
  <main>
    {% for book in books %}
      <div class="book-card">
        <h1>
          <a href={% url 'show_book' book.pk %}>{{ book.Title }}</a>
        <p>{{ book.Author.first.name }}</p>
        <p>{{ book.ISBN }}</p>
        <p>{{ book.Publisheddate }}</p>
        <img src = {{book.urlofcover}}></img>
        <a href={% url 'update_view' book.pk %}><input type="submit" value="Update">
        <a href={% url 'delete_view' book.pk %}><input type="submit" value="Delete">
      </div>
    {% endfor %}
  </main>
</section>
</body>

</html>