{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> </title>
  <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>

<body>
  <header>
  </header>
  <section>
  <main>
    <div class="magazine-card">
      <p>{{ magazine.Title }}</p>
      <p>{{ magazine.Releasecycle }}</p>
      <p>{{ magazine.Description }}</p>
      <img src = {{magazine.urlofcover}}></img>
      {% for issue in magazine.issues.all %}
      <p>Issues {{ issue.IssueNumber }}</p>
      <p>{{ issue.Title }}</p>
    {% endfor %}
  </main>
</section>
</body>

</html>