{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>
<section>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for magazine in magazines %}
      <div class="magazine-card">
        <h1>
          <a href={% url 'show_magazine' magazine.pk %}>{{ magazine.Title }}</a>
        <p>{{ magazine.Releasecycle }}</p>
        <img src = {{magazine.urlofcover}}></img>
        <a href={% url 'update_mag_view' magazine.pk %}><input type="submit" value="Update">
        <a href={% url 'delete_mag_view' magazine.pk %}><input type="submit" value="Delete">
      </div>
    {% endfor %}
  </main>
</body>
</section>
</html>