{% load static %}
<link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">

<div class="main">

    <form method="POST">

        {% csrf_token %}
 

        {{ form.as_p }}
 
        <input type="submit" value="Update">
    </form>
 
</div>